body {
    font-family: Arial, sans-serif;
    background-color:cadetblue;
   }
   
   .container {
    width: 250px;
    margin: 100px auto;
    padding: 50px;
    background-color: #d3d3d3;
    border: 01px solid #ddd;
    border-radius: 05%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
   }
   
   h1 {
    text-align: center;
    margin-bottom: 10px;
   }
   
   form {
    display: flex;
    flex-direction: column;
   }
   
   label {
    margin-bottom: 08px;
   }
   
   input {
    width: 99%;
    height: 30px;
    margin-bottom: 20px;
    padding: 01px;
    border-radius: 02%;
    border: 1px solid #ccc;
   }
   
   button {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
   }
   
   button:hover {
    background-color: #3e8e41;
   }
   
   p {
    text-align: center;
    margin-top: 20px;
   }
   
   a {
    text-decoration: none;
    color:#3e8e41;
   }