body {
    font-family: Arial, sans-serif;
    background-color:cadetblue;
  }
  
  .container {
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #d3d3d3;
    border: 1px solid #ddd;
    border-radius: 05%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .campo {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 99%;
    height: 30px;
    padding: 01px;
    border-radius: 02%;
    border: 1px solid #ccc;
  }

  button {
    width: 100%;
    height: 40px;
    background-color:cadetblue;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    color: black;
    background-color: #3e8e41;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
    color:cadetblue;
  }